.social {
    grid-area: social;
    justify-self: center;
}

.title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 19px;
    }

    @media (max-width: 540px) {
        font-size: 14px;
        line-height: 17px;
    }
}

.socialTitle {
    margin-bottom: 16px;

    @media (max-width: 540px) {
        margin-bottom: 8px;
    }
}

.subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 16px;
    }
}

.list {
    display: flex;
    gap: 10px;
}

.link {
    transition: color 0.3s ease-in-out;

    &:hover {
        color: #8a8a8a;
    }
}

.linkFB:hover {
    color: #3b5998;
}

.linkVK:hover {
    color: #0077ff;
}